# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystems are summarized.

# **Objectives**
 * List Popular Launguages for Data Science
 * List Commonly used libraries by Data Scientists
 * Showing examples of arithmetic in Python
 * Creating tables

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Java
5. Julia

## Some of the commonly used libraries used by Data Scientists include:
1.  Panda
2.  Numpy
3.  Matplotlib
4.  Scikit-learn
5.  Tensorflow
6.  Apache Spark

| Data Science Tools |
| ----- |
| MySQL |
| PostgreSQL |
| MongoDB |
| ApacheCouchDB |
| Apache Cassandra |
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author
Kristen Walker